.profile {
    max-height: 75px;
}

.profile-info {
    width: 200px;
}

.profile-info-name {
    font-size: 30px;
    font-weight: 900;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.profile-info-level {
    background: #161616;
    border-radius: 15px;
    text-align: center;
    margin: 0;
    width: 40px;
    font-size: 15px;
    font-weight: 900;
    color: white;
    position: absolute;
    align-self: flex-end
}

.profile-icon {
    border-radius: 50%;
    width: 75px;
}

.tier {
    margin-left: 50px;
}

.tier-label {
    color: white;
    font-size: 20px;
    margin-bottom: 0;
}

.tier-icon {
    border-radius: 50%;
    width: 75px;
}

.tier-stats {
    color: white;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 0px;
}
